@import '../variables.scss';
@import '../mixins.scss';

.technologies-container {
    margin-bottom: 1rem;

    .technologies-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .technology-card {
            @include center;
            gap: 1rem;
            padding: 1rem;
            border: 1px solid #333;
            width: 45%;
            border-radius: $card-border-radius;

            h3 {
                color: $text-color;
                margin-bottom: 1rem;
            }

            svg {
                font-size: 9rem;
            }
        }

        #html {
            svg {
                color: #e44d26;
            }
        }

        #css {
            svg {
                color: #1572b6;
            }
        }

        #js {
            svg {
                color: #f0db4f;
            }
        }

        #sass {
            svg {
                color: #cd29ba;
            }
        }

        #mysql {
            svg {
                color: #00618a;
            }
        }

        #react {
            svg {
                color: #61dafb;
            }
        }

        #ts {
            svg {
                color: #0d5486;
            }
        }
    }

}

@media (max-width: $sm) {
    .technologies-container .technologies-grid .technology-card {
        width: 100%;
    }
}

@media (max-width: $md) {
    .technologies-container .technologies-grid .technology-card {
        width: 95%;
    }
}